/* FilterMenu.module.css */
.filter-menu {
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.filter-menu li {
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 12px 20px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.filter-menu li:hover {
  background-color: rgba(0, 123, 255, 0.1);
  border-color: #007bff;
}
.filter-menu li.active {
  color: #fff;
  background-color: #007bff; /* لون الخلفية عندما يكون العنصر فعالاً */
  border-color: #007bff;
}
.filter-menu li.active:hover {
  background-color: #0056b3; /* تغيير اللون عند التحويم على الفئة النشطة */
}
.filter-menu li:not(.active) {
  color: #007bff; /* لون النص الافتراضي للعناصر غير النشطة */
}
.filter-menu li:not(.active):hover {
  background-color: #f8f9fa; /* لون الخلفية عند التحويم على العناصر غير النشطة */
}

.filter-menu li svg {
  margin-right: 8px; /* مساحة بين الأيقونة والنص */
}
.filter-menu li.active svg {
  color: #fff !important;
}

.badge {
  position: absolute !important;
  top: -30px !important;
  left: 0px !important;
  background: linear-gradient(45deg, #ff5f6d, #ff4757, #ff5f6d) !important;
  color: white !important;
  padding: 4px 6px !important;
  width: 20px !important;
  height: 20px !important;
  margin: auto !important;
  border-radius: 50% !important;
  font-size: 0.75rem !important;
  font-weight: bold !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  transform: scale(1) !important;
  transition: transform 0.2s ease !important;
}
.badge:hover {
  transform: scale(1.1) !important;
}
