/* Dark mode toggle button styling */
button.toggle-mode {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 15px 30px;
  border-radius: 50px;
  color: white;
  /*background-color: #ffcc00;*/
  background: linear-gradient(135deg, #d1c4e9, #b39ddb);
  border: none;
  cursor: pointer;
  z-index: 10000;
  opacity: 0; /* Initially hidden */
  /* display: none; */
  /* visibility: hidden; */ /* Button is initially invisible */
  transform: translateY(calc(-100% - (15px + 10px)));
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Smooth transition for opacity and position */
}

button.toggle-mode:hover {
  transform: translateY(-5px) scale(1.05) !important;
  box-shadow: 0 10px 20px rgba(0,  0,  0,  0.2) !important;
}

/* When the button is visible after scroll */
button.toggle-mode.visible {
  opacity: 1;
  /* display: block; */
  /* visibility: visible; */
  transform: translateY(0);
  /* Reset transform when visible */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out,
    z-index 0.5s 0.2s;
}

body[data-theme="light"] button.toggle-mode {
  color: var(--text-color-dark);
  background: var(--day-gradient) !important;
}

body[data-theme="dark"] button.toggle-mode {
  color: var(--text-color-light);
  background: var(--night-gradient) !important;
}
